div
 {background-color:#0b610f;}
div a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;/*height of menu bar*/
    display:inline-block;
}
ul {
  display:inline;

  margin: 0;
  padding: 0;
}
ul li {display: inline-block; color:yellow;}
ul li:hover {background:#1f8524;color:yellow;}
ul li:hover ul {display: block;color:yellow;}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
ul li ul li { 
  background:#1f8524; 
  display: block;

}
ul li ul li a {display:block !important;} 
ul li ul li:hover {background:#3cde44;}